# Python virtual environment
venv/
*.venv
env/
.env

# Python cache files
__pycache__/
*.pyc

# Operating System files
.DS_Store
Thumbs.db

# IDE and editor directories
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/